{% extends "base.html" %}
{% load static %}

{% block title %}Contact Me{% endblock title %}
{% block ccactive %}active{% endblock ccactive %}

{% block body %}
    <form action="/contact.html" method="post" class="text-center">
        {% csrf_token %}
        <div class="mb-3 mx-5 px-0">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Your name">
        </div>
        <div class="mb-3 mx-5 px-0">
          <label for="exampleInputPassword1" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3 mx-5 px-0">
            <label for="exampleFormControlTextarea1" class="form-label">Explain your concern</label>
            <input type="text" class="form-control" id="desc" name="desc" rows="3">
        </div>
       <!-- <div class="mb-3 form-check mx-5 ">
            <input type="checkbox" class="form-check-input px-10" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>-->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock body %}