<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

</head>
<body>
    <div class="container-navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Selmanul farizy</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                  <a class="nav-link" href="about.html">About</a>
                  <a class="nav-link" href="#">Git</a>
                  <a class="nav-link" href="#">Resume</a>
                  <a class="nav-link" href="#">Certificates</a>
                  <a class="nav-link" href="contact.html">Contact</a>
                </div>
              </div>
            </div>
          </nav>
    </div>
    <section id="intro">   

        <div class="intro-overlay text-center"></div>	
    
        <div class="intro-content">
            <div class="row">
    
                <div class="col-twelve text-center my-3 py-0">
    
                    <h5>Hello, World.</h5>
                    <h1>I'm Selmanul Farizy.</h1>
    
                    <p class="intro-position">
                        <span>python programmer</span>
                        <span>beginer in cybersecurity</span>
                     <span>web dev..</span> 
                    </p>
    
                    <a class="button stroke smoothscroll" href="contact.html" title="">CONTACT Me</a>
    
                </div>  
                
            </div>   		 		
        </div> <!-- /intro-content --> 
           
               
    
    </section> <!-- /intro -->
   
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
          </a>
          <span class="text-muted">&copy; 2022, Inc</span>
        </div>
    
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-muted" href="https://mobile.twitter.com/Selmanulfarizy"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg><i class="bi bi-twitter"></i></a></li>
          <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/fariz._.18/"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg><i class="bi bi-instagram"></i></a></li>
          <li class="ms-3"><a class="text-muted" href="https://www.linkedin.com/in/selman-fariz-bb8390229/"><svg class="bi" width="24" height="24"><use xlink:href="#linkedin"/></svg><i class="bi bi-linkedin"></i></a></li>
          <li class="ms-3"><a class="text-muted" href="https://github.com/selmanfariz18"><svg class="bi" width="24" height="24"><use xlink:href="#github"/></svg><i class="bi bi-github"></i></a></li>
        </ul>
      </footer>
    </div>
</body>
</html>