{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}
{% block hactive %}active{% endblock hactive %}

{% block body %}
<section id="intro">   

        <div class="intro-overlay text-center"></div>	
    
        <div class="intro-content">
            <div class="row">
    
                <div class="col-twelve text-center my-3 py-0">
    
                    <h5>Hello, World.</h5>
                    <h1>I'm Selmanul Farizy.</h1>
    
                    <p class="intro-position">
                        <span>python programmer</span>
                        <span>beginer in cybersecurity</span>
                     <span>web dev..</span> 
                    </p>
    
                    <a class="btn btn-secondary" href="contact.html" title="">CONTACT Me</a>
    
                </div>  
                
            </div>   		 		
        </div> <!-- /intro-content --> 
           
               
    
</section> <!-- /intro -->
{% endblock body %}
   

